<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @company.type %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @company.registration_number %>
</p>

<p>
  <strong>Vat number:</strong>
  <%= @company.vat_number %>
</p>

<p>
  <strong>Age:</strong>
  <%= @company.age %>
</p>

<p>
  <strong>Size:</strong>
  <%= @company.size %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @company.phone_number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
